<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>
      {{ titulo }}
    </ion-title>
    <ion-chip slot="end" *ngIf="this.usrName">
      <ion-avatar>
        <img [src]=this.usrAvatarUrl>
      </ion-avatar>
      <ion-label text-capitalize>
        {{ this.usrName | titlecase }}
      </ion-label>
    </ion-chip>
  </ion-toolbar>
</ion-header>
