<app-header titulo="Login"></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Entra a ver las novedades:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm" (ngSubmit)="onLoginSubmit($event)">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input  type="email"
                        name="email"
                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        [(ngModel)]="user.email"
                        required
                        >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input  type="password"
                        name="password"
                        pattern="^[a-zA-Z0-9]{6,}$"
                        [(ngModel)]="user.password"
                        required
                        >
            </ion-input>
          </ion-item>
        </ion-list>
        <br>
        <ion-button size="small" expand="full" type="submit" shape="round">Submit</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Ingresa con tus redes o crea tu usuario</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid class="top-20">
        <ion-row>
          <ion-col size="4">
            <ion-button size="small" expand="full" shape="round" (click)="loginGoogle()">
              <ion-icon name="logo-google"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="small" expand="full" shape="round" (click)="loginFacebook()">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button size="small" expand="full" shape="round" (click)="loginTwitter()">
              <ion-icon name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
          </ion-col>
          <ion-col size="8">
            <ion-button size="small" expand="full" shape="round" (click)="signup()">
              Sign Up
            </ion-button>
          </ion-col>
          <ion-col size="2">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
