<app-header [titulo]=this.titulo></app-header>

<ion-content *ngIf="loadedPost">
  <ion-card>
    <ion-card-header>
      <!-- <ion-card-title>{{loadedPost.title}}</ion-card-title> -->
      <ion-card-subtitle>{{ loadedPost.name }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{loadedPost.body}}
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" *ngIf="this.usrUid === loadedPost.usrId; else elseBlock">
      <ion-fab-button>
        <ion-icon name="heart-outline" color="primary" (click)="favoritePost()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="create-outline" color="primary" (click)="editPost()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <ion-icon name="trash-outline" (click)="deletePost()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ng-template #elseBlock>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="share-outline" color="primary" (click)="sharePost()"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="heart-outline" color="primary" (click)="favoritePost()"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ng-template>
  </ion-fab>
</ion-content>
