<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Blog Web App</ion-card-title>
        <ion-card-subtitle>Construyendo el futuro ahora</ion-card-subtitle>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/dotty/480/000000/developer-mode.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        Proyecto para el curso de desarrollo de Web App de Teczara. Blog con
        registro de usuarios y posteo de blogs. Front en Ionic/Angular y Back en
        Express/NodeJS.
        <br />
        <br />
        <h2>
          Desliza y enterate todo lo que usa el proyecto y que podes aprender en
          el curso!
        </h2>
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>HTML5</ion-card-title>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/windows/512/000000/html-5.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        HTML5 es un lenguaje markup (de hecho, las siglas de HTML significan
        Hyper Text Markup Language) usado para estructurar y presentar el
        contenido para la web. Es uno de los aspectos fundamentales para el
        funcionamiento de los sitios, pero no es el primero.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>CSS3</ion-card-title>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/ios/500/000000/css3.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        CSS es un lenguaje de diseño gráfico que permite definir y crear la
        presentación de un documento estructurado escrito en un lenguaje de
        marcado. Es muy usado para establecer el diseño visual de los documentos
        web e interfaces de usuario escritas en HTML.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Javascript</ion-card-title>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/windows/512/000000/js-squared.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        JavaScript es un lenguaje de programación o de secuencias de comandos
        que te permite implementar funciones complejas en páginas web, cada vez
        que una página web hace algo más que sentarse allí y mostrar información
        estática para que la veas, actualizaciones de contenido, mapas
        interactivos, animación de Gráficos 2D/3D, reproduccion de vídeo, etc.
        Es la tercera capa del pastel de las tecnologías web estándar, dos de
        las cuales (HTML y CSS) hemos cubierto con mucho más detalle en otras
        partes del Área de aprendizaje.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>NodeJS</ion-card-title>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/windows/512/000000/node-js.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        Node.js fue creado por los desarrolladores originales de JavaScript. Lo
        transformaron de algo que solo podía ejecutarse en el navegador en algo
        que se podría ejecutar en los ordenadores como si de aplicaciones
        independientes se tratara. Gracias a Node.js se puede ir un paso más
        allá en la programación con JavaScript no solo creando sitios web
        interactivos, sino teniendo la capacidad de hacer cosas que otros
        lenguajes de secuencia de comandos como Python pueden crear.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Typescript</ion-card-title>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/ios/500/000000/typescript.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        Typescript es un superset de JavaScript. Decimos que una tecnología es
        un superset de un lenguaje de programación, cuando puede ejecutar
        programas de la tecnología, Typescript en este caso, y del lenguaje del
        que es el superset, JavaScript en este mismo ejemplo. En resumen, esto
        significa que los programas de JavaScript son programas válidos de
        TypeScript, a pesar de que TypeScript sea otro lenguaje de programación.
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Angular</ion-card-title>
      </ion-card-header>
      <ion-img
        class="card-img"
        src="https://img.icons8.com/ios/500/000000/angularjs.png"
        alt=""
      ></ion-img>
      <ion-card-content>
        Angular es un framework opensource desarrollado por Google para
        facilitar la creación y programación de aplicaciones web de una sola
        página, las webs SPA (Single Page Application).
      </ion-card-content>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Teczara</ion-card-title>
        <ion-card-subtitle>Seguinos e informate</ion-card-subtitle>
      </ion-card-header>
      <ion-img class="card-img" src="/assets/teczara.png" alt=""></ion-img>
      <ion-card-content>
        Seguinos y enterate de proximos cursos o contactate para ver las
        soluciones que ofrecemos
        <ion-button expand="full" href="https://www.linkedin.com/company/teczara">
          <ion-icon slot="start" name="link-outline"></ion-icon>
          <ion-label>Contacto</ion-label>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>
