<app-header titulo="Suma tu contenido"></app-header>

<ion-content>
  <form #formulario="ngForm" (ngSubmit)="onPostSubmit()">
    <ion-list>
      <ion-item>
        <ion-input  type="text"
                    name="title"
                    placeholder="Título"
                    [(ngModel)]="post.title"
                    required
                    >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea type="text"
                      name="body"
                      [(ngModel)]="post.body"
                      required
                      placeholder="Compartí tus ideas"
                      class ="body"
                      rows="35"
                      cols="12"
                      >
        </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button expand="full" size="small" type="submit" [disabled]="!formulario.valid" shape="round">Submit</ion-button>
  </form>
</ion-content>
